.container{
    width: 100%;
    min-height: calc(100vh - 50px); 

}
.hero{
    background-image: url("/hero.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 600px ;
    width: 100%;
    min-height: calc(100vh - 50px);
    margin-left: 0.15%; 
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}