.container{
    width: 100%;
    min-height: calc(100vh - 50px); 

}
.hero{
    background-image: url("/hero2.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 600px ;
    width: 100%;
    min-height: calc(100vh - 50px);
    margin-left: 1.21%;
    padding-top: 30px;
}